<header class="intro">
  <div class="profile-container">
    <h1 class="intro__hello">
      Hello!
      <p>
        I'm <span class="name">Bhargav Gohil</span>, a software engineer with a
        deep passion for problem-solving.
      </p>
    </h1>
    <h1 class="intro__profile-image" alt="Bhargav Gohil's Profile Photo">
      <img src="{{site.baseurl}}/img/profile.jpg" />
    </h1>
  </div>

  <h3 class="intro__contact">
    <span class="arrow-link">Get in touch</span>
    &nbsp
    <span>
      <a href="mailto:arnavd4@gmail.com" target="_blank" class="highlight-link"
        >bhargavgohil25@gmail.com</a
      >
    </span>
  </h3>
</header>
